body {
  background-color: rgb(238, 222, 247);
  font-family: fantasy;
}

.App{
  text-align: center;
  
}

h2 {
  text-align: center;
  
}
img {
  background-color: rgb(215, 181, 247);
  width:100px;
  height:50px;
  margin-top: 40px;
  border-radius: 20px;
  border:1px solid rgb(121, 68, 3);
}

.h-container{
  max-width: 60vw; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-items: center;
  padding: 10px 50px;
  margin:auto;
}

.container {
  max-width: 60vw;
  display: flex;
  justify-content:space-between;
  justify-items: center;
  padding: 10px 50px;
  margin: auto;
  background-color: rgb(215, 181, 247);
  border:1px solid rgb(121, 68, 3);
  border-radius: 20px;
}

.history {
  max-width: 60vw;
  background-color: rgb(215, 181, 247);
  justify-items: center;
  padding: 10px 50px;
  margin: auto;
  border:1px solid rgb(121, 68, 3);
  border-radius: 20px;

}
.history li{
  display: flex;
  /* grid-template-columns: 1fr 1fr 1fr; */
  justify-content: space-between;
  
}

#fa {
  color:black;
}

#fa:hover {
  color:red
}

.h-container form label input {
  width:100%;
  padding:8px;
  margin:10px 0px;
}
#bt {
color: rgb(20, 1, 1);
background-color: rgb(215, 181, 247);
max-width: 60vw;
height:40px;
text-align: center;
font-family: fantasy;
}
#red {
  padding-left: 3px;
  border-left: 3px solid red;
}